

# Atividade 03 - 09/11/23

Documentação Numpy: https://numpy.org/doc/stable/

Enviar este arquivo preenchido com as respostas e o nome do aluno para o e-mail: profbrunorespostas1@gmail.com e assunto: AD2303

Prazo: 14/11/23

Pontos: 20

### Orientações

- Usar apenas a biblioteca pandas para responder as questões desta atividade;
- Utilizar o dataset disponibilizado no Google Sala de Aula com o título: DATASET - ATIVIDADE PANDAS - 01;
- O dataset trata de aparições de ovnis pelo mundo e foi retirado da plataforma Kaggle.

In [ ]:
#Substituir nome do aluno aqui
print("José Moreira Chacon")

José Moreira Chacon

In [ ]:
import pandas as pd

### Questão 1

Imprimir apenas as 15 primeiras linhas do dataset.

In [ ]:

# Carregar o arquivo CSV
nome_arquivo = 'ufo.csv'
dados = pd.read_csv(nome_arquivo)

# Imprimir as 15 primeiras linhas
print(dados.head(15))

    Unnamed: 0            Date_time date_documented  Year  Month  Hour  \
0            0  1949-10-10 20:30:00       4/27/2004  1949     10    20
1            1  1949-10-10 21:00:00      12/16/2005  1949     10    21
2            2  1955-10-10 17:00:00       1/21/2008  1955     10    17
3            3  1956-10-10 21:00:00       1/17/2004  1956     10    21
4            4  1960-10-10 20:00:00       1/22/2004  1960     10    20
5            5  1961-10-10 19:00:00       4/27/2007  1961     10    19
6            6  1965-10-10 21:00:00       2/14/2006  1965     10    21
7            7  1965-10-10 23:45:00       10/2/1999  1965     10    23
8            8  1966-10-10 20:00:00       3/19/2009  1966     10    20
9            9  1966-10-10 21:00:00       5/11/2005  1966     10    21
10          10  1968-10-10 13:00:00      10/31/2003  1968     10    13
11          11  1968-10-10 19:00:00       6/12/2008  1968     10    19
12          12  1970-10-10 16:00:00       5/11/2000  1970     10    16
13          13  1970-10-10 19:00:00       2/14/2008  1970     10    19
14          14  1971-10-10 21:00:00       2/14/2010  1971     10    21

    Season Country_Code         Country          Region         Locale  \
0   Autumn          USA   United States           Texas     San Marcos
1   Autumn          USA   United States           Texas   Bexar County
2   Autumn          GBR  United Kingdom         England        Chester
3   Autumn          USA   United States           Texas           Edna
4   Autumn          USA   United States          Hawaii        Kaneohe
5   Autumn          USA   United States       Tennessee        Bristol
6   Autumn          GBR  United Kingdom           Wales        Penarth
7   Autumn          USA   United States     Connecticut        Norwalk
8   Autumn          USA   United States         Alabama     Harrisburg
9   Autumn          USA   United States         Florida       Live Oak
10  Autumn          USA   United States      California      Hawthorne
11  Autumn          USA   United States  North Carolina  Franklin Park
12  Autumn          USA   United States        New York  Nassau County
13  Autumn          USA   United States        Kentucky     Manchester
14  Autumn          USA   United States  North Carolina    South Cecil

     latitude   longitude UFO_shape  length_of_encounter_seconds  \
0   29.883056  -97.941111  Cylinder                       2700.0
1   29.384210  -98.581082     Light                       7200.0
2   53.200000   -2.916667    Circle                         20.0
3   28.978333  -96.645833    Circle                         20.0
4   21.418056 -157.803611     Light                        900.0
5   36.595000  -82.188889    Sphere                        300.0
6   51.434722   -3.180000    Circle                        180.0
7   41.117500  -73.408333      Disk                       1200.0
8   33.586111  -86.286111      Disk                        180.0
9   30.294722  -82.984167      Disk                        120.0
10  33.916389 -118.351667    Circle                        300.0
11  35.233333  -82.734444  Fireball                        180.0
12  40.668611  -73.527500      Disk                       1800.0
13  37.153611  -83.761944   Unknown                        180.0
14  35.823889  -80.253611      Oval                         30.0

   Encounter_Duration                                        Description
0          45 minutes  This event took place in early fall around 194...
1             1-2 hrs  1949 Lackland AFB&#44 TX.  Lights racing acros...
2          20 seconds  Green/Orange circular disc over Chester&#44 En...
3            1/2 hour  My older brother and twin sister were leaving ...
4          15 minutes  AS a Marine 1st Lt. flying an FJ4B fighter/att...
5           5 minutes  My father is now 89 my brother 52 the girl wit...
6        about 3 mins  penarth uk  circle  3mins  stayed 30ft above m...
7          20 minutes  A bright orange color changing to reddish colo...
8          3  minutes  Strobe Lighted disk shape object observed clos...
9     several minutes  Saucer zaps energy from powerline as my pregna...
10             5 min.  ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...
11          3 minutes  silent red /orange mass of energy floated by t...
12            30 min.           silver disc seen by family and neighbors
13          3 minutes  Slow moving&#44 silent craft accelerated at an...
14         30 seconds  green oval shaped light over my local church&#...

### Questão 2

Imprimir apenas as aparições que ocorreram no ano de 2014.

In [ ]:
# Carregando o arquivo CSV
df = pd.read_csv('ufo.csv')

# Filtrando as aparições que ocorreram em 2014
aparicoes_2014 = df[df.iloc[:, 3] == 2014]

print(aparicoes_2014)

       Unnamed: 0            Date_time date_documented  Year  Month  Hour  \
7612         7612  2014-01-10 06:00:00       1/16/2014  2014      1     6
7613         7613  2014-01-10 06:15:00       1/16/2014  2014      1     6
7614         7614  2014-01-10 06:30:00       1/10/2014  2014      1     6
7615         7615  2014-01-10 09:57:00       2/14/2014  2014      1     9
7616         7616  2014-01-10 16:30:00       1/16/2014  2014      1    16
...           ...                  ...             ...   ...    ...   ...
46150       46150  2014-05-07 21:10:00        5/8/2014  2014      5    21
46151       46151  2014-05-07 21:20:00        5/8/2014  2014      5    21
46152       46152  2014-05-07 23:30:00        5/8/2014  2014      5    23
46298       46298  2014-05-08 00:00:00        5/8/2014  2014      5     0
46299       46299  2014-05-08 18:45:00        5/8/2014  2014      5    18

       Season Country_Code         Country       Region             Locale  \
7612   Winter          USA   United States   California          Placentia
7613   Winter          USA   United States        Texas            El Paso
7614   Winter          USA   United States     Colorado         Coal Creek
7615   Winter          USA   United States  Connecticut          Parkville
7616   Winter          GBR  United Kingdom      England         Barrowford
...       ...          ...             ...          ...                ...
46150  Spring          USA   United States  Connecticut          Naugatuck
46151  Spring          USA   United States     Missouri          Hillsboro
46152  Spring          USA   United States   New Mexico         San Ysidro
46298  Spring          USA   United States    Tennessee  Lauderdale Courts
46299  Spring          AUS       Australia     Victoria          Inverloch

        latitude   longitude  UFO_shape  length_of_encounter_seconds  \
7612   33.872222 -117.869444  Rectangle                         60.0
7613   31.758611 -106.486389     Circle                        120.0
7614   38.361111 -105.147778     Sphere                       1200.0
7615   41.763611  -72.685556      Flash                        120.0
7616   53.845000   -2.204000      Light                        900.0
...          ...         ...        ...                          ...
46150  41.485833  -73.051111    Unknown                        300.0
46151  38.232222  -90.562778   Fireball                        360.0
46152  35.563363 -106.770591    Unknown                         15.0
46298  35.149444  -90.048889  Rectangle                        900.0
46299 -38.626591  145.722595      Light                        300.0

      Encounter_Duration                                        Description
7612           ~1 minute  EXTRATERRESTRIAL MULTICOLOR SPACECRAFT OVER GO...
7613          ~2 minutes  Single round&#44 reddish yellowish&#44 greenis...
7614          20 minutes  Large&#44 yellowish white reflective sphere wi...
7615            2 minute  ((HOAX??)) While i was watching a movie a whit...
7616          15 minutes  A light hovered down the hill at a ridiculous ...
...                  ...                                                ...
46150          5 minutes  Large formation of lights in western sky&#44 f...
46151        4-6 minutes  Round slow moving silent ball looked like a ca...
46152         15 seconds  2 red lights gliding across sky&#44 then green...
46298         15 minutes  Standing at my window around 0:00 brilliantly ...
46299          5 minutes  Bright orange light travelling above inverloch...

[2260 rows x 17 columns]

### Questão 3

Imprimir apenas as aparições que ocorreram no ano de 2011 e no Brasil (Country_Code)

In [ ]:
df = pd.read_csv('ufo.csv')

# Filtrando as aparições que ocorreram em 2011 e no Brasil
aparicoes_2011_brasil = df[(df.iloc[:, 3] == 2011) & (df.iloc[:, 8] == 'Brazil')]

print(aparicoes_2011_brasil)

       Unnamed: 0            Date_time date_documented  Year  Month  Hour  \
45777       45777  2011-05-05 23:50:00       5/12/2011  2011      5    23
51551       51551  2011-06-24 02:00:00       6/27/2011  2011      6     2
59303       59303  2011-07-23 18:00:00       5/15/2013  2011      7    18

       Season Country_Code Country             Region          Locale  \
45777  Spring          BRA  Brazil  Rio Grande do Sul   Dom Feliciano
51551  Summer          BRA  Brazil            Alagoas          Maceió
59303  Summer          BRA  Brazil          São Paulo  Embu das Artes

        latitude  longitude UFO_shape  length_of_encounter_seconds  \
45777 -30.701054 -52.106879     Light                         60.0
51551  -9.649849 -35.708949      Oval                       1800.0
59303 -23.651508 -46.852186    Circle                      36000.0

      Encounter_Duration                                        Description
45777           1 minute  On 05/05/2011 at exactly 23 hours and 53 minut...
51551          15-30 min  They were flying over the sea&#44 in various d...
59303           10 hours  Brazil UFO televised explanation thousands of ...

###TESTE DE VERIFICAÇÃO

In [ ]:
#============IMPRIMINDO DADOS DE UMA COLUNA ESPECIFICA====================
nome_arquivo = 'ufo.csv'
dados = pd.read_csv(nome_arquivo)

print(dados.iloc[:, 13])

0        Cylinder
1           Light
2          Circle
3          Circle
4           Light
           ...
80323       Light
80324      Circle
80325       Other
80326      Circle
80327       Cigar
Name: UFO_shape, Length: 80328, dtype: object

### Questão 4

Imprimir as aparições que ocorreram no Estado do Rio Grande do Norte ou da Paraíba (Region).

In [ ]:
df = pd.read_csv('ufo.csv')

# Filtrando as aparições
estados_interessantes = ['Rio Grande do Norte', 'Paraíba']
aparicoes_rn_pb = df[df.iloc[:, 9].isin(estados_interessantes)]

print(aparicoes_rn_pb)

       Unnamed: 0            Date_time date_documented  Year  Month  Hour  \
16094       16094  2007-01-18 23:50:00       2/24/2007  2007      1    23
33313       33313  2007-03-24 22:45:00       4/27/2007  2007      3    22

       Season Country_Code Country   Region       Locale  latitude  longitude  \
16094  Winter          BRA  Brazil  Paraíba  João Pessoa -7.119496 -34.845012
33313  Spring          BRA  Brazil  Paraíba  João Pessoa -7.119496 -34.845012

      UFO_shape  length_of_encounter_seconds Encounter_Duration  \
16094  Triangle                         20.0         20 seconds
33313     Cross                         60.0      1 min or less

                                             Description
16094  Woman witnesses peculiar triangular craft move...
33313         2 amber orange cross-shaped flying objects

### Questão 5

Imprimir as aparições que ocorreram entre os anos de 2000 e 2014 nos Estados Unidos.

In [ ]:
df = pd.read_csv('ufo.csv')

# Filtrando as aparições
aparicoes_usa_2000_2014 = df[(df.iloc[:, 3].between(2000, 2014)) & (df.iloc[:, 8] == 'United States')]

print(aparicoes_usa_2000_2014)

       Unnamed: 0            Date_time date_documented  Year  Month  Hour  \
93             93  2000-10-10 03:00:00       12/2/2000  2000     10     3
94             94  2000-10-10 06:15:00       12/2/2000  2000     10     6
96             96  2000-10-10 16:00:00       12/2/2000  2000     10    16
97             97  2000-10-10 20:20:00       12/2/2000  2000     10    20
98             98  2000-10-10 20:30:00       12/2/2000  2000     10    20
...           ...                  ...             ...   ...    ...   ...
80323       80323  2013-09-09 21:15:00       9/30/2013  2013      9    21
80324       80324  2013-09-09 22:00:00       9/30/2013  2013      9    22
80325       80325  2013-09-09 22:00:00       9/30/2013  2013      9    22
80326       80326  2013-09-09 22:20:00       9/30/2013  2013      9    22
80327       80327  2013-09-09 23:00:00       9/30/2013  2013      9    23

       Season Country_Code        Country      Region         Locale  \
93     Autumn          USA  United States    Missouri     Perryville
94     Autumn          USA  United States     Florida  Boynton Beach
96     Autumn          USA  United States   Wisconsin         Juneau
97     Autumn          USA  United States    Missouri    Saint Louis
98     Autumn          USA  United States    Missouri      Brinktown
...       ...          ...            ...         ...            ...
80323  Autumn          USA  United States   Tennessee      Nashville
80324  Autumn          USA  United States       Idaho          Boise
80325  Autumn          USA  United States  California     Napa Abajo
80326  Autumn          USA  United States    Virginia         Vienna
80327  Autumn          USA  United States    Oklahoma         Edmond

        latitude   longitude UFO_shape  length_of_encounter_seconds  \
93     37.724167  -89.861111      Oval                        180.0
94     26.525000  -80.066667     Other                         10.0
96     43.405550  -88.705104  Triangle                         45.0
97     38.627003  -90.199404      Oval                         15.0
98     38.126667  -92.084444     Light                       1800.0
...          ...         ...       ...                          ...
80323  36.165833  -86.784444     Light                        600.0
80324  43.613611 -116.202500    Circle                       1200.0
80325  38.297222 -122.284444     Other                       1200.0
80326  38.901111  -77.265556    Circle                          5.0
80327  35.652778  -97.477778     Cigar                       1020.0

      Encounter_Duration                                        Description
93             3 minutes  The craft was big&#44 orange&#44 and oval shaped.
94            10 seconds  Unusual light formation moving extremely fast ...
96            45 seconds                             5 bight light V shaped
97            15 seconds  Driving on Hyw.141 at Hyw. 44 and going East&#...
98               30 min.  3 bright golden lights moving independently ab...
...                  ...                                                ...
80323         10 minutes  Round from the distance/slowly changing colors...
80324         20 minutes  Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...
80325               hour                                       Napa UFO&#44
80326          5 seconds  Saw a five gold lit cicular craft moving fastl...
80327         17 minutes  2 witnesses 2  miles apart&#44 Red &amp; White...

[57059 rows x 17 columns]

### Questão 6

Imprimir todas aparições que ocorreram no ano de 2010 e que não foram no formato de Triângulo (UFO_shape)

In [ ]:
df = pd.read_csv('ufo.csv')

# Filtrando as aparições
aparicoes_2010_nao_triangle = df[(df.iloc[:, 3] == 2010) & (df.iloc[:, 13] != 'Triangle')]

print(aparicoes_2010_nao_triangle)

       Unnamed: 0            Date_time date_documented  Year  Month  Hour  \
212           212  2010-10-10 01:00:00        1/5/2011  2010     10     1
213           213  2010-10-10 02:30:00      11/21/2010  2010     10     2
214           214  2010-10-10 03:00:00      11/21/2010  2010     10     3
215           215  2010-10-10 08:30:00      11/21/2010  2010     10     8
216           216  2010-10-10 12:00:00      11/21/2010  2010     10    12
...           ...                  ...             ...   ...    ...   ...
80265       80265  2010-09-09 21:30:00      11/21/2010  2010      9    21
80266       80266  2010-09-09 22:00:00      11/21/2010  2010      9    22
80267       80267  2010-09-09 22:00:00      11/21/2010  2010      9    22
80268       80268  2010-09-09 22:00:00      11/21/2010  2010      9    22
80269       80269  2010-09-09 23:19:00      11/21/2010  2010      9    23

       Season Country_Code        Country          Region  \
212    Autumn          USA  United States        New York
213    Autumn          USA  United States    Pennsylvania
214    Autumn          USA  United States            Ohio
215    Autumn          USA  United States  South Carolina
216    Autumn          USA  United States     Connecticut
...       ...          ...            ...             ...
80265  Autumn          USA  United States        Michigan
80266  Autumn          USA  United States         Florida
80267  Autumn          USA  United States         Florida
80268  Autumn          USA  United States      New Mexico
80269  Autumn          USA  United States      California

                        Locale   latitude   longitude  UFO_shape  \
212    Village of Orchard Park  42.767500  -78.744167      Light
213           Hillside Village  40.273611  -76.884722     Circle
214                     Euclid  41.593056  -81.526944     Circle
215                      Starr  34.376944  -82.695833  Formation
216                  Greenwich  41.026389  -73.628889      Light
...                        ...        ...         ...        ...
80265                 Brighton  42.529444  -83.780278   Changing
80266              Gainesville  29.651389  -82.325000       Oval
80267              Gainesville  29.651389  -82.325000       Oval
80268                  Lemitar  34.159722 -106.909722   Fireball
80269            North Ontario  34.097500 -117.647500     Circle

       length_of_encounter_seconds Encounter_Duration  \
212                         7200.0        a few hours
213                          240.0         4  minutes
214                          180.0          3 minutes
215                          600.0          5-10 mins
216                          240.0             4 mins
...                            ...                ...
80265                        300.0        3-5 minutes
80266                       2700.0             45 min
80267                       7200.0             2+ hrs
80268                        300.0        3 to 5 mins
80269                        300.0            3-5 min

                                             Description
212    Xmas colored rotating lights.  ((NUFORC Note: ...
213                                possible UFO sighting
214    2 objects blinking red and white&#44 disappear...
215               Strange orange lights in the night sky
216    &quot;Star&quot; like objects during clear day...
...                                                  ...
80265  Glittery random lights near each other&#44 rea...
80266  2nd night watching the objects&#44 approximate...
80267  Multiple sightings by multiple whitnesses&#44 ...
80268  orange lights in the southeastern sky in New M...
80269  It appeared to be an orange round object movin...

[3879 rows x 17 columns]

### Questão 7

Imprimir as aparições que ocorreram entre as datas 01/01/2011 e 30/07/2011 (utilizando a coluna Date_time).

Obs.: Pesquisar como converter os textos da coluna Date_time para o formato correto de data no Pandas, para que se possa realizar os cálculos.

In [ ]:

df = pd.read_csv('ufo.csv')

# Convertendo a coluna Date_time para o formato de data
df['Date_time'] = pd.to_datetime(df['Date_time'], errors='coerce')

# Filtrando as aparições que ocorreram entre 01/01/2011 e 30/07/2011
inicio_data = pd.to_datetime('2011-01-01')
fim_data = pd.to_datetime('2011-07-30')
aparicoes_entre_datas = df[(df['Date_time'] >= inicio_data) & (df['Date_time'] <= fim_data)]


print(aparicoes_entre_datas)

       Unnamed: 0           Date_time date_documented  Year  Month  Hour  \
7577         7577 2011-01-10 05:30:00       1/31/2011  2011      1     5
7578         7578 2011-01-10 07:00:00       1/31/2011  2011      1     7
7579         7579 2011-01-10 09:45:00       1/31/2011  2011      1     9
7580         7580 2011-01-10 11:10:00      10/10/2011  2011      1    11
7581         7581 2011-01-10 17:15:00       1/31/2011  2011      1    17
...           ...                 ...             ...   ...    ...   ...
64067       64067 2011-07-09 22:30:00       1/12/2012  2011      7    22
64068       64068 2011-07-09 22:30:00       7/17/2011  2011      7    22
64069       64069 2011-07-09 22:45:00       7/17/2011  2011      7    22
64070       64070 2011-07-09 22:53:00       7/17/2011  2011      7    22
64071       64071 2011-07-09 23:00:00       7/17/2011  2011      7    23

       Season Country_Code         Country           Region           Locale  \
7577   Winter          USA   United States       California          O'Neals
7578   Winter          USA   United States         Illinois          Kinsman
7579   Winter          USA   United States       California        San Diego
7580   Winter          GBR  United Kingdom          England         Wichling
7581   Winter          AUS       Australia  New South Wales           Sydney
...       ...          ...             ...              ...              ...
64067  Summer          USA   United States          Montana            Butte
64068  Summer          USA   United States       California     San Fernando
64069  Summer          USA   United States         Missouri      West Joplin
64070  Summer          USA   United States          Indiana    Columbia City
64071  Summer          USA   United States        Wisconsin  Wisconsin Dells

        latitude   longitude  UFO_shape  length_of_encounter_seconds  \
7577   37.128333 -119.693333      Light                        180.0
7578   41.189722  -88.569444  Rectangle                          2.0
7579   32.915556 -117.143056   Cylinder                        900.0
7580   51.250000    0.750000       Disk                        300.0
7581  -33.861481  151.205475      Light                         10.0
...          ...         ...        ...                          ...
64067  46.003889 -112.533889      Other                        600.0
64068  34.281944 -118.438056       Oval                          2.0
64069  37.084167  -94.513056      Light                        120.0
64070  41.157222  -85.488333      Light                         60.0
64071  43.627500  -89.770833     Sphere                          7.0

           Encounter_Duration  \
7577                3 minutes
7578                  seconds
7579                  15 mins
7580                5 minutes
7581               10 seconds
...                       ...
64067                  10 min
64068                   2 sec
64069             1-2 minutes
64070  approximately 1 minute
64071               7 seconds

                                             Description
7577   Solid white light spotted at dusk&#44 flying a...
7578   Black square/rectangular 3 dimensional object ...
7579            Cylindrical object in sky over Mira Mesa
7580   The area it went into a vertical climb was whe...
7581         white lights dipping&#44 diving over Sydney
...                                                  ...
64067             The Richest Hill on Earth gets scanned
64068  WHITE LIGHT OVER SAN FERNANDO EXPLODES WHILE M...
64069             Orange ball moving above Joplin&#44 MO
64070  a light appeared and slowly moved with a zigza...
64071  5 orange orbs headind north at a good clip&#44...

[2469 rows x 17 columns]

### Questão 8

Imprimir a quantidade de aparições que ocorreram por cada país.

Obs.: Pesquisar sobre agrupamento através da função groupby() e como contar através da função count().

In [ ]:
df = pd.read_csv('ufo.csv')

# Agrupando por país e contando as aparições em cada grupo
contagem_por_pais = df.groupby(df.iloc[:, 8]).size().reset_index(name='Quantidade')

# Imprimindo a contagem por país
print(contagem_por_pais)

         Country  Quantidade
0    Afghanistan          11
1        Albania           2
2        Algeria           1
3      Argentina          23
4        Armenia           3
..           ...         ...
146   Uzbekistan           3
147    Venezuela          26
148      Vietnam          20
149       Zambia           2
150     Zimbabwe           7

[151 rows x 2 columns]

### Questão 9

Utilizando a questão anterior, imprimir ordenando do país com maior aparições para o com menor.

In [ ]:
# Ordenação
contagem_por_pais = contagem_por_pais.sort_values(by='Quantidade', ascending=False)

# Imprimindo a contagem ordenada
print(contagem_por_pais)

                   Country  Quantidade
144          United States       70878
24                  Canada        3592
143         United Kingdom        2348
5                Australia         630
60                   India         226
..                     ...         ...
132               Tanzania           1
103       Papua New Guinea           1
130  São Tomé and Príncipe           1
25              Cape Verde           1
135                  Tonga           1

[151 rows x 2 columns]

### Questão 10

Utilizando a questão anterior, retornar apenas os 5 países com as maiores quantidades de aparições.

In [ ]:
# Retornando os 5 países com as maiores quantidades de aparições
top5_paises = contagem_por_pais.head(5)


print(top5_paises)

            Country  Quantidade
144   United States       70878
24           Canada        3592
143  United Kingdom        2348
5         Australia         630
60            India         226