# Pandas

Ferramenta python para análise e manipulação de dados de código aberto, poderosa e flexível.
- Converte e mapeia dados de um estado "bruto" para um formato que permita a fácil manipulação
- Bastante usada na fase de preparação de dados;
- Boa integração com a ferramenta Numpy.

Formatos:
- Serie;
- Dataframe.

Site oficial:
- https://pandas.pydata.org/

Instalação:
- pip install pandas

#### Importando a biblioteca

In [ ]:
import pandas as pd

## Series

Array unidimensional que contém um array de dados (values) e um array de labels (index)

series_exemplo = Series([4, 7, -5, 3], index = ['a', 'b', 'c', 'd'])

#### Criando uma Serie

In [ ]:
series_1 = pd.Series([5,2,54,1])
series_1

0     5
1     2
2    54
3     1
dtype: int64

#### Acessando/Imprimindo valores da Serie

In [ ]:
series_1.values

array([ 5,  2, 54,  1])

#### Acessando/Imprimindo índices da Serie

In [ ]:
series_1.index

RangeIndex(start=0, stop=4, step=1)

#### Acessando um valor da Serie

In [ ]:
series_1[2]

54

#### Informando manualmente os índices da Serie

In [ ]:
series_2 = pd.Series([5,2,54,1], index=['a', 'b', 'c', 'd'])
series_2

a     5
b     2
c    54
d     1
dtype: int64

In [ ]:
series_2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [ ]:
series_2['b']

2

#### Informando índices através de uma lista Python

In [ ]:
from pandas.core.series import Series
lista_1 = ['a', 'b', 'c', 'd']
series_3 = pd.Series([5,4,2,11], index=lista_1)
series_3

a     5
b     4
c     2
d    11
dtype: int64

#### Criando uma Serie através de um dicionário de dados

In [ ]:
dicionario_1 = {'a':10, 'b':33, 'c':25}
series_4 = pd.Series(dicionario_1)
series_4

a    10
b    33
c    25
dtype: int64

#### Criando Series usando Array numpy

In [ ]:
import numpy as np

array_1 = np.array([5,2,18])
series_5 = pd.Series(array_1)
series_5

0     5
1     2
2    18
dtype: int64

#### Nomeando uma série

In [ ]:
series_5.name = 'Aula'
series_5

0     5
1     2
2    18
Name: Aula, dtype: int64

In [ ]:
series_5.name

'Aula'

## Funções para Series

#### head()

Exibe as primeiras 5 linhas da série (cabeçalho)

In [ ]:
series_6 = pd.Series([5,4,2,5,8,6,2,7,8,9,6,5,4,8,7,4,5,8])
series_6.head()

0    5
1    4
2    2
3    5
4    8
dtype: int64

#### describe()

Retorna alguns dados estatísticos descritivos

#### sort_values()

Ordena os valores de uma Serie

#### isnull()

Retorna True se o valor é nulo, False se não for

#### notnull()

Retorna True se o valor não é, False se for

#### unique()

Retorna uma lista dos elementos únicos com base na ocorrência.

#### nunique()

Número de itens distintos da Series. Não inclui dados nulos

#### max()

Retorna o maior valor da Serie

#### min()

Retorna o menor valor da Serie

#### sum()

Retorna a soma de todos os valores numéricos da Serie