Situação: Recebemos uma variável com o nome de uma professora da escola para inserirmos no cadastro. No entanto, precisamos tratar esse texto antes de inserirmos no sistema.

In [ ]:
texto = '  Geovana Alessandra dias Sanyos '

Temos o texto, que se refere ao nome da professora e a string, com dois espaços antes do nome dela e outro espaço após. Vamos rodar essa célula e objetivo é que, ao final, o nome esteja da seguinte forma:
'GEOVANA ALESSANDRA DIAS SANTOS'

In [ ]:
#converte para letras maiúsculas
texto.upper()

'  GEOVANA ALESSANDRA DIAS SANYOS '

In [ ]:
#converte para letras minúsculas
texto.lower()

'  geovana alessandra dias sanyos '

In [ ]:
#Remove os espaços em branco no inicio e no fim da string
texto.strip()

'Geovana Alessandra dias Sanyos'

In [ ]:
#método que substitui uma ocorrencia antiga na string por uma nova, nesse caso, substituiu y por t
texto.replace('y','t')

'  Geovana Alessandra dias Santos '

In [ ]:
texto = texto.strip().replace('Y','T').upper()

texto

'GEOVANA ALESSANDRA DIAS SANTOS'

In [ ]:
#Coletar valores com input()

nome = input('Digite seu nome: ')

Digite seu nome: Chacon

In [ ]:
nome

'Chacon'

A função input() sempre retorna um valor textual. Se quisermos, por exemplo, coletar um número, temos que fazer a conversão dessa saída para outro tipo de valor.

Existem quatro tipos básicos de dados que já conhecemos: inteiro, float, string e booleano. Cada uma dessas classes têm uma função de conversão. Vamos conferir as funções de conversão de valores:

Inteiros: int(dado_para_conversao)
Float: float(dado_para_conversao)
String: str(dado_para_conversao)
Booleano: bool(dado_para_conversao)

In [ ]:
ano_entrada = input('Escreva o ano de ingresso do(a) estudante:  ')

Escreva o ano de ingresso do(a) estudante:  2023

In [ ]:
type(ano_entrada)

str

In [ ]:
#Convertendo a saída do valor de input() para um tipo inteiro.
ano_entrada = int(input('Escreva o ano de ingresso do(a) estudante:  '))

Escreva o ano de ingresso do(a) estudante:  2023

In [ ]:
type(ano_entrada)

int

In [ ]:
#Formatar o texto, ou seja, inserir valores de variáveis.
nota_entrada = float(input('Digite a nota do teste de ingresso: '))
print(f'Ano de entrada {ano_entrada} - nota do teste de ingresso {nota_entrada}')

Digite a nota do teste de ingresso: 90.05
Ano de entrada 2023 - nota do teste de ingresso 90.05

existem outras formatações, como o uso do operador de formatação de string ou da função .format().

====> Esse operador de formatação permite a inserção de variáveis em pontos específicos na string com o operador %. Esse operador funciona como um marcador, informando onde o valor da variável vai ser exposto na string.
O % precisa ser acompanhado de uma palavra-chave para cada tipo de variável que se deseja adicionar. Seguindo a tabela abaixo:

string = %s
inteiro = %d
float = %f
caractere = %c


=====>Desse modo, para inserirmos uma variável, podemos adicionar o operador pela string no ponto desejado. Após o fim da string, adicionamos novamente o %, mas agora especificando a variável entre parênteses. Podemos observar essa estrutura no exemplo abaixo:

In [ ]:
nome_aluno = 'Fabricio Daniel'

print('Nome do aluno: %s' %(nome_aluno))

Nome do aluno: Fabricio Daniel

In [ ]:
nome_aluno = 'Fabricio Daniel'
idade_aluno = 15
media_aluno = 8.45

print('Nome do aluno é %s, ele tem %d anos e sua média é %f.' %(nome_aluno, idade_aluno, media_aluno))

Nome do aluno é Fabricio Daniel, ele tem 15 anos e sua média é 8.450000.

In [ ]:
'''
Quando trabalhamos com pontos flutuantes (float), podemos determinar a quantidade de casas decimais após a vírgula usando a sintaxe %.xf,
na qual x é o número de casas desejadas. Utilizando as mesmas variáveis do exemplo anterior, o código com %.xf fica da seguinte maneira:
'''

print('Nome do aluno é %s, ele tem %d anos e sua média é %.2f.' %(nome_aluno, idade_aluno, media_aluno))

Nome do aluno é Fabricio Daniel, ele tem 15 anos e sua média é 8.45.

Uma observação: os operadores de formatação de strings com % não funcionam diretamente com valores booleanos. Uma maneira de lidar com isso é convertendo o valor booleano para uma string antes de usá-lo na formatação com a função str(). Por exemplo:

In [ ]:
x = True
print("Valor de x: %s" % str(x))

Valor de x: True

É possível também usar o método format() para fazer a formatação de strings. Ele é mais flexível e permite passar as variáveis diretamente dentro da string, sem a necessidade dos operadores %. Seus marcadores são apenas as {}. Exemplo:

In [ ]:
nome_aluno = 'Fabricio Daniel'

print('Nome do aluno: {}'.format(nome_aluno))

Nome do aluno: Fabricio Daniel

In [ ]:
#Do mesmo modo que é feito com o operador, conseguimos aplicar com mais variáveis:
nome_aluno = 'Fabricio Daniel'
idade_aluno = 15
media_aluno = 8.45

print('Nome do aluno é {}, ele tem {} anos e sua média é {}.' .format(nome_aluno, idade_aluno, media_aluno))

Nome do aluno é Fabricio Daniel, ele tem 15 anos e sua média é 8.45.

In [ ]:
#\n é o caractere de nova linha e é usado para pular uma linha no texto (quebra de linha). Exemplo:
print("Estudar é um esforço constante,\nÉ como cultivar uma planta,\nPrecisamos de dedicação e paciência,\nPara ver o fruto amadurecer.")

Estudar é um esforço constante,
É como cultivar uma planta,
Precisamos de dedicação e paciência,
Para ver o fruto amadurecer.

In [ ]:
#\t é o caractere de tabulação usado para adicionar um espaço de tabulação no texto. Exemplo
print('Quantidade\tQualidade\n5 amostras\tAlta\n3 amostras\tBaixa')

Quantidade	Qualidade
5 amostras	Alta
3 amostras	Baixa

In [ ]:
'''
\\ é usado para imprimir uma única barra invertida. Caso não seja usada a dupla barra invertida,
o código poderá resultar em erro ou em um resultado inesperado, pois o Python considera a \
um chamado para um caractere especial. Usamos esta sintaxe para garantir que não ocorram erros. Exemplo:
'''

print("Caminho do arquivo: C:\\arquivos\\documento.csv")

Caminho do arquivo: C:\arquivos\documento.csv

In [ ]:
'''
\" é usado para imprimir aspas duplas quando estamos trabalhando com uma string criada a partir de aspas duplas ".
 Porém, isso não é necessário caso seja uma string criada por aspas simples '. Como exemplo, temos:
 '''
print("Ouvi uma vez \"Os frutos do conhecimento são os mais doces e duradouros de todos.\"")

Ouvi uma vez "Os frutos do conhecimento são os mais doces e duradouros de todos."

In [ ]:
print('Ouvi uma vez "Os frutos do conhecimento são os mais doces e duradouros de todos."')

Ouvi uma vez "Os frutos do conhecimento são os mais doces e duradouros de todos."

===ATIVIDADE====

**Coleta e amostragem de dados**

1.   Crie um programa que solicite à pessoa usuária digitar seu nome, e imprima “Olá, [nome]!”.
2.   Crie um programa que solicite à pessoa usuária digitar seu nome e idade, e imprima “Olá, [nome], você tem [idade] anos.”.
3.  Crie um programa que solicite à pessoa usuária digitar seu nome, idade e altura em metros, e imprima “Olá, [nome], você tem [idade] anos e mede [altura] metros!”.

In [ ]:
#1
nome = input ("Digite seu nome: ")

print ('Olá,{} ' .format(nome))

Digite seu nome: Chacon
Olá,Chacon

In [ ]:
#2
nome_usuario = input("Seu nome: ")
idade_usuario = input("Sua idade: ")

print ('Olá, {}, você tem {} anos' .format(nome_usuario, idade_usuario))

Seu nome: José
Sua idade: 23
Olá, José, você tem 23 anos

In [ ]:
#3
seu_nome = input('Seu nome: ')
sua_idade = int(input('Idade: '))
altura_metros = float(input('Altura: '))

print('Olá, {}, você tem {} anos e mede {} metros!' .format(seu_nome, sua_idade, altura_metros))

Seu nome: jose
Idade: 23
Altura: 1.71
Olá, jose, você tem 23 anos e mede 1.71 metros!

===ATIVIDADE===

**Calculadora com operadores**


1.   Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a soma dos dois valores.
2.   Crie um programa que solicite três valores numéricos à pessoa usuária e imprima a soma dos três valores.
3.   Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a subtração do primeiro pelo o segundo valor.
4.   Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a multiplicação dos dois valores.
5.   Crie um programa que solicite dois valores numéricos, um numerador e um denominador, e realize a divisão entre os dois valores. Deixe claro que o valor do denominador não pode ser 0.

In [ ]:
#1
nota1 = float(input('nota1: '))
nota2 = float(input('nota2: '))

soma= nota1+nota2

print('soma = {}' .format(soma))

nota1: 22.5
nota2: 20
soma = 42.5

In [ ]:
#2
nota1 = float(input('nota1: '))
nota2 = float(input('nota2: '))
nota3 = float(input('nota3: '))

soma= nota1+nota2+nota3

print('soma = {}' .format(soma))

nota1: 100
nota2: 50
nota3: 25
soma = 175.0

In [ ]:
#3
nota1 = float(input('nota1: '))
nota2 = float(input('nota2: '))

sub= nota1-nota2

print('Subtração = {}' .format(sub))

nota1: 400
nota2: 500
Subtração = -100.0

In [ ]:
#4
nota1 = float(input('nota1: '))
nota2 = float(input('nota2: '))

mult= nota1*nota2

print('multiplicação = {}' .format(mult))

nota1: 5
nota2: 4
multiplicação = 20.0

In [ ]:
#5
print('Informe 2 valores para realizar uma divisão (um numerador e um denominador), lembrando que  o valor do denominador não pode ser 0.')

numerador = float(input('Informe o numerador: '))
denominador = float(input('Informe o denominador: '))

divisao = numerador / denominador

print('divisão = {}' .format(divisao))

Informe 2 valores para realizar uma divisão (um numerador e um denominador), lembrando que  o valor do denominador não pode ser 0.
Informe o numerador: 20
Informe o denominador: 3
divisão = 6.666666666666667

===ATIVIDADE===

**Cont. Calculadora com operadores**



6.   Crie um programa que solicite dois valores numéricos, um operador e uma potência, e realize a exponenciação entre esses dois valores.
7.   Crie um programa que solicite dois valores numéricos, um numerador e um denominador e realize a divisão inteira entre os dois valores. Deixe claro que o valor do denominador não pode ser 0.
8.   Crie um programa que solicite dois valores numéricos, um numerador e um denominador, e retorne o resto da divisão entre os dois valores. Deixe claro que o valor do denominador não pode ser 0.
9.   Crie um código que solicita 3 notas de um estudante e imprima a média das notas.
10.  Crie um código que calcule e imprima a média ponderada dos números 5, 12, 20 e 15 com pesos respectivamente iguais a 1, 2, 3 e 4.

In [ ]:
#6
operador = float(input('Informe o operador: '))
potencia = float(input('Informe a potência: '))

expoenciacao = operador ** potencia

print('expoenciação = {}' .format(expoenciacao))

Informe o operador: 3
Informe a potência: 3
expoenciação = 27.0

In [ ]:
#7
print('Informe 2 valores para realizar uma divisão (um numerador e um denominador), lembrando que  o valor do denominador não pode ser 0.')

numerador = int(input('Informe o numerador: '))
denominador = int(input('Informe o denominador: '))

divisao = numerador / denominador

print('divisão = {}' .format(divisao))

type(numerador)

Informe 2 valores para realizar uma divisão (um numerador e um denominador), lembrando que  o valor do denominador não pode ser 0.
Informe o numerador: 20
Informe o denominador: 4
divisão = 5.0

int

In [ ]:
#8
print('Informe 2 valores para realizar uma divisão (um numerador e um denominador), lembrando que  o valor do denominador não pode ser 0.')

numerador = int(input('Informe o numerador: '))
denominador = int(input('Informe o denominador: '))

restodivisao = numerador % denominador

print('Resto = {}' .format(restodivisao))

Informe 2 valores para realizar uma divisão (um numerador e um denominador), lembrando que  o valor do denominador não pode ser 0.
Informe o numerador: 103
Informe o denominador: 50
Resto = 3

In [ ]:
#9
print('Informe suas três notas para obter a media entre elas.')

nota1 = float(input('Nota1: '))
nota2 = float(input('Nota2: '))
nota3 = float(input('Nota3: '))

soma = nota1+nota2+nota3
media = soma/3

print('Sua media é {}' .format(media))

Informe suas três notas para obter a media entre elas.
Nota1: 88.5
Nota2: 99
Nota3: 98.5
Sua media é 95.33333333333333

In [ ]:
#10

#pesos
peso1 = 1
peso2 = 2
peso3 = 3
peso4 = 4

#notas

nota1 = 5
nota2 = 12
nota3 = 20
nota4 = 15


calculomMediaPond1 = nota1*peso1 + nota2*peso2 + nota3*peso3 + nota4*peso4

resultadoFinal = calculomMediaPond1 / 10

print('Resultado da media ponderada é = {} ' .format(resultadoFinal))

Resultado da media ponderada é = 14.9

===ATIVIDADE===

**Editando textos**



1.   Crie uma variável chamada “frase” e atribua a ela uma string de sua escolha. Em seguida, imprima a frase na tela.
2.   Crie um código que solicite uma frase e depois imprima a frase na tela.
3.   Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase digitada mas com todas as letras maiúsculas.
4.   Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase digitada mas com todas as letras minúsculas.
5.   Crie uma variável chamada “frase” e atribua a ela uma string de sua escolha. Em seguida, imprima a frase sem espaços em branco no início e no fim.

In [ ]:
#1
frase = 'Danone Leo vs Soberano'

print(frase)

Danone Leo vs Soberano

In [ ]:
#2
frase = input('Digite uma frase: ')

print(frase)

Digite uma frase: Olá Mundo
Olá Mundo

In [ ]:
#3
frase = input('Digite uma frase: ')

frase.upper()

Digite uma frase: como vai

'COMO VAI'

In [ ]:
#4
frase = input('Digite uma frase: ')

frase.lower()

Digite uma frase: Vamos Ou BoRa

'vamos ou bora'

In [ ]:
#5
frase = ' Danone Leo vs Soberano '

frase.strip()

'Danone Leo vs Soberano'

===ATIVIDADE===

**Cont. Editando Textos**



6.   Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase sem espaços em branco no início e no fim.
7.   Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase sem espaços em branco no início e no fim e em letras minúsculas.
8.   Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as vogais “e” trocadas pela letra “f”.
9.   Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as vogais “a” trocadas pela caractere “@”.
10.   Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as consoantes “s” trocadas pelo caractere “$”.

In [ ]:
#6
frase = input('Digite uma frase: ')

frase.strip()

Digite uma frase:     Programação em Python

'Programação em Python'

In [ ]:
#7
frase = input('Digite uma frase: ')

frase = frase.strip().lower()

frase

Digite uma frase:     ProgramaçãO em PythOn

'programação em python'

In [ ]:
#8

frase = input('Digite uma frase: ')

frase.replace('e', 'f')

Digite uma frase: Frase de programação em sistemas

'Frasf df programação fm sistfmas'

In [ ]:
#9

frase = input('Digite uma frase: ')

frase.replace('a', '@')

Digite uma frase: frase de efeito

'fr@se de efeito'

In [ ]:
#10

frase = input('Digite uma frase: ')

frase.replace('s', '$')

Digite uma frase: frase de testes

'fra$e de te$te$'